body {
    font-size: 12px;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #333;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
#page {
    overflow: hidden;
}
.mt3 {
    margin-top: 3vw;
}
.mt5 {
    margin-top: 5vw;
}
.mt7 {
    margin-top: 7vw;
}
.tcenter {
    text-align: center;
}
.hidden {
    display: none;
}
#page {
    background-color: #FEDFA5;   
}

#titleBlock {

}
#likeBlock {
    background-color: #B80016;
    background-image: url(https://piccdn.luojilab.com/fe-oss/default/MTU3ODQwMTE5Mzc1.png);
}
#guideBar {
    width: 300vw;
    color: rgba(252, 241, 151, 0.7);
    font-size: 3vw;
    padding-top: 3vw;
}
.timeName {
    font-size: 4.5vw;
    font-weight: bold;
}
#guideBar .big {
    color: #FCF197;
    font-size: 6.5vw !important;
}
#guideBar .big .small {
    font-size: 3vw !important;
}
.slideBlock {
    display: inline-block;
    font-size: 3vw;
    text-align: left;
    margin: 0 3vw;
}
.vw100 {
    width: 100vw;
}
#choosetip {
    margin-top: 6vw;
    color: #FCDCA3;
    text-align: center;
    font-size: 3vw;
    width: 100vw;
}
.sentenseTab {
    font-weight: bold;
    margin-top: 2vw;
    font-size: 3.7vw;
}
.chooesTeacher {
    margin-top: 3vw;
    background-image: url(https://piccdn.luojilab.com/fe-oss/default/MTU3NjY1MjMyNzgw.jpeg);
    background-size: contain;
    height: 62vw;
    text-align: center;
}

.teacherHead {
    width: 15vw;
    height: 15vw;
    border-radius: 10vw;
    border: 0.5vw solid #B80016;
    margin-top: 7vw;
}          
.teacherName{
    color: black;
    font-size: 5vw;
    margin-top: 2vw;
    font-weight: bold;
}
.teacherInfo{
    color: #604D3B;
    font-size: 3.5vw;
    margin-top: 1.5vw;
}
.teacherTalk{
    color: #C02336;
    font-size: 5vw;
    margin-top: 1.5vw;
    font-weight: bold;
    max-height: 8vw;
    overflow: hidden;
}
.teacherLike{
    color: black;
    font-size: 4vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 28.7vw;
    height: 10vw;
    margin: 2vw auto;
}
.giftBlock {
}
.giftPic {
    width: 90vw;
    margin-left: 5vw;
}
#mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
#maskSeeAll {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
.stopScrollBlock {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}
.seeAllBlock {
    width: 80vw;
    height: 70vh;
    background-color: white;
    border-radius: 2vw;
    position: absolute;
    top: 10vh;
    left: 10vw;
    font-size: 4vw;
    line-height: 8vw;
    padding: 8vw;
    color:#CBA56A;
    word-break: break-all;
    overflow: scroll;
}
.likeBlock {
    width: 80vw;
    margin: -50vw auto;
    padding-top: 50vh;
}
.maskTeacherBlock {
    position: relative;
}
.maskTeacherPic {
    z-index: 98;
    position: fixed;
    width: 72vw;
    margin-top: -3vw;
    left: 14vw;
}
.maskLetterBG {
    width: 75vw;
    position: fixed;
    left: 12.5vw;
    z-index: 97;
    margin-top: -5vw;
}    
.maskLetterTop {
    width: 80vw;
    position: fixed;
    z-index: 99;
    margin-top: 34vw;
}
.maskWindow {
    background-image: url(https://piccdn.luojilab.com/fe-oss/default/MTU3Nzk1NjE2MjI3.png);
    width: 80vw;
    height: 47.9vw;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 99;
    margin-top: 56vw;
}
.orcinput {
    font-size: 4vw;
    opacity: 1;
    width: 11vw;
    height: 7vw;
    margin-left: 9vw;
    margin-top: 1vw;
    background-color: #FFEFD1;
    color: #FF6B00;
    border: 0px;
    top: 2vw;
    position: absolute;
}
.phoneinput {
    font-size: 4vw;
    opacity: 1;
    width: 51vw;
    height: 7vw;
    margin-left: 22vw;
    margin-top: 3vw;
    color: #654F28;
    background-color: #FFEFD1;
    border: 0px;
    position: absolute;
}
input::placeholder {
    color: #654F28;
}
.closeMask {
    position: absolute;
    right: 8vw;
    z-index: 99;
    margin-top: -9vw;
    width: 8vw;
}
.closeSeeAllMask {
    position: absolute;
    right: 8vw;
    z-index: 99;
    top: 50vh;
    margin-top: -42vh;
    width: 8vw;
}
.sendLikeMessageBlock {
    position: absolute;
    top: 13vw;
}
.sendLikeMessage {
    width: 80%;
    margin-top: 17vw;
}
.linePhoneinput1 {
    font-size: 3.7vw;
    color: #654F28;
    margin-top: 2vw;
    display: block;
    position: absolute;
    left: 8vw;
    width: 72vw;
    text-align: left;
}
.linePhoneinput2 {
    font-size: 3.7vw;
    color: #654F28;
    margin-top: 8vw;
    display: block;
    position: absolute;
    left: 8vw;
    width: 72vw;
    text-align: left;
}
.linePhoneinput3 {
    font-size: 3.7vw;
    color: gray;
    margin-top: 11vw;
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
}
.linePhoneinput4 {
    font-size: 3.7vw;
    color: gray;
    margin-top: 7vw;
    display: block;
    position: absolute;
    left: 8vw;
}
.publisInfo {
    font-size: 3.7vw;
    color: #FFD3DD;
    padding: 0 6vw;
}
.seeall {
    color: #FCF197;
    text-align: center
}
.jpApp {
    width: 90vw;
    position: absolute;
    height: 10vw;
    margin-top: 1vw;
    margin-left: 5vw;
}
.jpSmallApp {
    width: 92vw;
    position: absolute;
    height: 10vw;
    margin-top: 17vw;
    margin-left: 4vw;
}
.maskjpApp {
    width: 64vw;
    position: absolute;
    height: 10vw;
    margin-top: 26vw;
    left: 8vw;
}
.maskjpSmallApp {
    width: 64vw;
    position: absolute;
    height: 10vw;
    margin-top: 40vw;
    left: 8vw;
}
#appShareBtn {
    width: 67vw;
    position: absolute;
    height: 13vw;
    margin-top: 18vw;
    left: 7vw;
}
.jumpBlockzhc {
    width: 80vw;
    height: 15vw;
    position: absolute;
    left: 10vw;
}
.tosttip {
    margin-top: 30vh;
    width: 50vw;
    height: 19vw;
    position: fixed;
    top: 1vw;
    left: 25vw;
    background-color: white;
    z-index: 999;
    text-align: center;
    opacity: 0.8;
    font-size: 4vw;
    border-radius: 3vw;
    padding: 6vw;
}
.machinelogo {
    width: 5vw;
    margin-top: -1vw;
    margin-right: 1vw;
}
.pkg {
    max-width: 2700px;
}
.rulesText {
    background: url(https://piccdn.luojilab.com/fe-oss/default/MTU3ODkxMjEzODE0.jpeg);
    background-size: contain;
    background-repeat-y: repeat;
    min-height: 50vw;
    padding: 3vw 8vw 7vw 8vw;
    font-size: 3.7vw;
    line-height: 5.9vw;
    color: #FFD3DD;
    margin-bottom: 5vw;
    margin-top: 0vw;
}
.noEffectLeft {
    height: 17vw;
    width: 2vw;
    position: absolute;
}