@keyframes rotateY {
	0%{
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@-webkit-keyframes rotateY {
	0%{
		-webkit-transform: rotateY(0deg);
	}
	100% {
		-webkit-transform: rotateY(360deg);
	}
}
body,
p {
	margin: 0;
}
body,
html {
	height: 100%;
	overflow: hidden;
	position: relative;
}
body {
	background-color: #90d5db;
}
#root {
	display: inline;

	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#pkg-wrap {
	display:inline;
}
#pageBg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #90d5db;
	background-size: 100% 100%;
	opacity: 0;
}
#view {
	height: 100%;
	position: relative;
	overflow: hidden;
	-webkit-perspective: 300px;
	perspective: 300px;
}
#avatar {
	position: absolute;
	width: 20%;
    border-radius: 100px;
    top: 20%;
	left: 50%;
	margin-left: -10%;
}
#nick {
	position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -30%;
	width: 60%;
	font-size: 17px;
}
#wordbig {
	position: absolute;
	top: 43%;
	left: 50%;
	margin-left: -31%;
	width: 62%;
	font-size: 22px;
	color: white;
}
#bludbar {
	position: absolute;
	top: 57%;
	height: 3%;
	opacity: 1;
	width: 48%;
	margin-left: -24%;
	left: 50%;
}
#blud {
	position: absolute;
	left: 50%;
	width: 0%;
	top: 57.4%;
	margin-left: -23.5%;
	border-radius: 0.5rem;
	height: 2%;
}
#hadfinish {
	position: absolute;
	left: 50%;
	top: 62%;
	font-size: 13px;
	width: 60%;
	color: white;
	margin-left: -30%;
}
#moneypic {
	position: absolute;
	width: 54%;
	left: 50%;
	margin-left: -27%;
	top: 69%;
}
#getButton {
	position: absolute;
    width: 60%;
    height: 16%;
    opacity: 0.2;
    left: 50%;
    /* background-color: rebeccapurple; */
    margin-left: -30%;
    top: 83%;
}
.goapp {
	position: absolute;
    width: 60%;
    height: 16%;
    opacity: 0.2;
    left: 50%;
    /* background-color: rebeccapurple; */
    margin-left: -30%;
    top: 79%;
}
.logoImg {
	position: absolute;
	width: 100%;
} 
.logoImg img {
	width: 100%;
	display: block;
	/* -webkit-animation: 2s rotateY linear infinite;
	animation: 2s rotateY linear infinite; */
}
.logoText {
	position: absolute;
	left: 0;
	top: 70%;
	width: 100%;
	font-size: 16px;
	text-align: center;
}
#logo4,
#logoIcos {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#logoIcos {
	-webkit-animation: 2s rotateY linear infinite;
	animation: 2s rotateY linear infinite;
}
#logoIcos span {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -15px;
	width: 30px;
	height: 30px;
	background: center center no-repeat;
	background-size: contain; 
}
#logo4Img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -113px 0 0 -98.5px;
	width: 197px;
	height: 227px;
}
#main,
#panoBg,
#tZ,
#cloud,
#pano,
.pano {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#panoBg span {
	position: absolute;
	left: 0;
	top: 0;
	margin: -585px 0 0 -64.5px;
	width: 129px;
	height: 1170px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#cloud span {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -50px 0 0 -100px;
	width: 200px;
	height: 56px;
}
.pano span{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 129px;
	margin-left: -64.5px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: white;
}
#thediv {
	position: absolute;
	top: 50%;
	margin-top: -300px;
	height:600px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	font-size: 44px;
	color:red;
	background-color: white;
	opacity: 0.8;
	display: none;
}
.hidden {
	display: none;
  } 
.goMarkImg {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 45%;
}
.goMarkImg img {
	width: 10%;
}
.slideout {
	opacity: 0;
}





#wrapper {
	z-index: 99;
    position: absolute;
    width: 100%;
	height: 100%;
	overflow: hidden;	
	color: #ffffff82;
	font-size: 14px;
	text-shadow: 1px 1px #000;
  }
  .right {
	position: absolute;
	visibility: hidden;
	white-space: nowrap;
	/*left: 700px;*/
	transform: translateX(700px);
  }
  .left {
	position: absolute;
	white-space: nowrap;
	user-select: none;
	transition: transform 7s linear; /* 时间相同 越长的弹幕滑动距离越长 所以越快~ */
  }
  input {
	position: absolute;
	bottom: 10px;
	left: 150px;
	width: 300px;
	height: 26px;
  }

  button {
	position: absolute;
	bottom: 8px;
	left: 476px;
	width: 100px;
	height: 38px;
	border-radius: 10px;
	font-size: 16px;
  }
.opacity0 {
	opacity: 0!important;
}
.opacity1 {
	opacity: 1!important;
}


.loading-progress-bar {
	position: absolute;
    width: 36%;
    height: 2%;
    background: #ff8648;
    border-radius: 0.5rem;
    top: 75%;
    left: 50%;
    margin-left: -18%;
  }
.loading-progress-bar-inner {
	width: 0;
	background: #ffce48;
	height: 100%;
	border-radius: 0.5rem;
}


#listinfo {
	position: absolute;
	text-align: left;
	height: 95%;
	overflow: hidden;
}
#listTitleTop {
	width: 65%;
    margin: 40px auto 18px;
    font-size: 22px;
	color: white;
	font-weight:bold;
}
#listTitleContent {
    width: 65%;
    margin: 0px auto;
    font-size: 16px;
    color: white;
}
#listContent {
	position: relative;
}

#listContent .listContentTitle {
    width: 65%;
    margin: auto;
    font-size: 18px;
    color: yellow;
    font-weight: bold;
    padding: 28px 0px 4px 0px;    
}
#listContent .listContentinfo {
	width: 65%;
    margin: 5px auto;
    font-size: 14px;
	color: white;
}
