#scroll-block {
	/* back ground-color: aqua; */
	width: 100%;
	font-size: 18px;
	background-color: #ECEAEA;
}
.list {
	width: 96%;
	height: 166px;
	/* border: 1px solid #999; */
	position: relative;
	overflow: hidden;
	background-color: #F8F8F8;
	margin: 0 auto;
}
.list .rowupleft {
	position: relative;
	float: left;
	width: 49%;
}
.list .rowupright {
	position: relative;
	float: right;
	width: 49%;
}
.name {
	font-size: 15px;
}
.position {
	font-size: 12px;
	color: #666666;
	margin-top: 2px;
}
.item {
	padding: 10px 15px;
	overflow: hidden;
	text-align: center;
}
/* 左右定制化 */
.ssleft {
	padding-left: 10px;
	padding-right: 5px;
}
.transparency {
	position: absolute;
    z-index: 1;
    width: 100%;
}